@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Erica+One&display=swap');

.hero-image{
    background-image: url(./ocean\ pollution.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    height: 500px;    
}

.image_one{
   width: 100%;
   height: 300px;
   object-fit:cover;
}

.info{
    text-align: justify;
}

.hero-text{
    color:rgb(226, 214, 255);
    text-align: center;
    font-size:30px;
    line-height:50px;
    padding-top: 150px;
    font-family: "Bowlby One", sans-serif;
    
}

.title{
    padding-top:10px;
    padding-bottom: 10px;
    background-color: rgb(21, 22, 63);
    font-size: 50px;
    margin-left: 600px;
    margin-right:600px;
    border-radius: 10px;
}
 
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    margin-top: 80px;
    margin-right: 400px;
    margin-left: 400px;
}

.three_pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:80px;
    padding-top:100px;
    gap:20px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: rgb(21, 22, 63);
}

.card {
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

.card_text{
    text-align: center;
    color:rgb(226, 214, 255);
}


nav{
    background-color: rgb(21, 22, 63);
    padding-top: 5px;
    padding-bottom:5px;
}

a{
    text-decoration: underline ;
    color:rgb(226, 214, 255);
    font-size: 30px;
    padding-right: 10px;
    padding-left:20px;
}

a:hover{
    color: rgb(111, 86, 221);
}

.start_image{
    width:90%;
    height:450px;
    padding-left:100px ;
    padding-right:100px ;
    padding-top:100px ;
    object-fit: cover;
}

.info_two{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    

}


.four_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    padding-top: 100px;
    padding-left:100px;
    padding-right:100px;
}

.four_image{
    width:370px;
    height:70%;
    object-fit:cover ;
    border-radius: 300px;
}

.three_collumn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    padding-right:200px;
    padding-left:200px;
    padding-bottom: 100px;
    padding-top: 140px;
}



.three_collumn_image{
    width: 100%;
    height: 350px;
    object-fit:cover;
    border-radius: 100px;
}

.info_sprint_three{
    text-align: justify;
}

.last{
    text-align: center;
    color:rgb(226, 214, 255) ;
}

.background{
    background-color: rgb(21, 22, 63);
    padding-bottom: 50px;
    padding-top: 50px;
}
