.hero-image{
    background-image: url(./ocean\ pollution.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    height: 350px;    
}

.hero-text{
    color:rgb(255 227 187);
    text-align: center;
    font-size:30px;
    line-height:1.0;
    padding-top:10%;
    
}