.hero-image{
    background-image: url(./ocean\ pollution.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    height: 500px;    
}

img{
   width: 100%;
   height: 300px;
   object-fit:cover ;
}

.hero-text{
    color:rgb(255 227 187);
    text-align: center;
    font-size:30px;
    line-height:1.0;
    padding-top:100px;  
}
 
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    margin-top: 40px;
    margin-right: 400px;
    margin-left: 400px;
}

